</main>
<footer class="footer">
    <% var now = new Date();
    var format = now.getFullYear(); %>
    <p>&copy; <%= format %> MyBlog. All rights reserved.</p>
      <p>Made with ❤ by Imran</p>
  </footer>
</body>
</html>